@page "/"

<MudTabs Elevation="2" @ref="tabs" Centered="true">
    <MudTabPanel Text="About" @ref="aboutTab">
        <span class="@(tabs.ActivePanel == aboutTab ? "fade-in" : null)">
            <About />
        </span>
    </MudTabPanel>
    <MudTabPanel Text="Projects" @ref="projectsTab">
        <span class="@(tabs.ActivePanel == projectsTab ? "fade-in" : null)">
            <Projects />
        </span>
    </MudTabPanel>
</MudTabs>


@code {
    private MudTabs tabs;
    private MudTabPanel aboutTab;
    private MudTabPanel projectsTab;
}